# fight 6 enemies
D6B4F1A9C8E73D25B0A1F4C9E6A2D3B7 : struct.begin
   SID = D6B4F1A9C8E73D25B0A1F4C9E6A2D3B7
   NodePrototypeVersion = 10
   SpawnOnStart = false
   PositionX = 318815.0
   PositionY = 407410.0
   PositionZ = -1132.485425
   RotatorAngleYaw = 0.0
   RotatorAnglePitch = 0.0
   RotatorAngleRoll = 0.0
   ScaleX = 1.0
   ScaleY = 1.0
   ScaleZ = 1.0
   TextAboveActor =
   DLC = None
   LevelName = WorldMap_WP/SQ20_LogicLevel
   PlaceholderActorGuid = 7W790ORQ5WIPIN5UDZWQ12ZQR
   PlaceholderMapPath = /Game/_Stalker_2/maps/_Stalker2_WorldMap/QuestLevels/SQ20_LogicLevel
   SpawnedPrototypeSID = Empty
   OverrideRank = false
   SpawnType = ESpawnType::Squad
   SpawnedGenericMembers : struct.begin
		[0] : struct.begin
			SpawnedSquadMembersCount = 1
			SpawnedPrototypeSID = Pseudogiant
		struct.end
	struct.end
   SpawnInRadius = 100.0
   SpawnedGenericMembers =
   RespawnMembers = false
   AllowSpawnOnIsolatedNavMesh = false
struct.end